# Flutter/Dart 관련
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/.last_build_id

# iOS 관련
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*.sync/
**/*.DS_Store
*.dSYM.zip
*.ipa
*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Android 관련
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
google-services.json

# IDE 관련
*.iml
*.ipr
*.iws
.idea/
.vscode/
.settings/
.classpath
.project

# 맥OS 관련
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# 기타
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/

# env
.env

# FVM Version Cache
.fvm/

# 환경변수 파일들
lib/.env
ios/Flutter/EnvironmentVariables.xcconfig

# Firebase 설정 파일
firebase.json
lib/firebase_options.dart
ios/Runner/GoogleService-Info.plist